template(name='author_info')
    with author
        if profile.image_id
            img.ui.avatar.spaced.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
        |&nbsp;
        a(href="/user/#{username}") #{username} 
        // +staus_indicator
    // .ui.sub.header #{when}


template(name='list_item')
    .item
        i.large.icon(class=icon title=key)
        .content
            .description 
                |#{label}
                strong #{key_value}


template(name='toggle_boolean')
    .field
        if ../complete
            #turn_on.ui.icon.large.button
                i.toggle.on.large.icon
        else
            #turn_off.ui.icon.large.button
                i.toggle.off.large.icon

template(name='save_button')
    a.ui.big.icon.button(href="/view/#{_id}") 
        i.checkmark.icon
        // strong save
        
template(name='edit_button')
    a.ui.icon.large.button(href="/edit/#{_id}" title='edit') 
        i.pencil.icon
        // strong edit

template(name='view_button')
    a.ui.icon.large.button(href="/view/#{_id}" title='View Details') 
        // +avatar_sprite name='chevron-right'
        i.right.chevron.icon
        
template(name='add_button')
    #add.ui.icon.button(title='add')
        i.plus.icon
        // +mini_inline_sprite name='plus'

template(name='reference_type_single')
    .ui.form
        .field
            label #{label}
            .ui.left.icon.input
                i.search.icon
                +inputAutocomplete settings=settings id="search" class="" autocomplete="off" placeholder='search...'

template(name='reference_type_multiple')
    .ui.form
        .field
            label #{label}
            .ui.left.icon.input
                i.search.icon
                +inputAutocomplete settings=settings id="search" class="" autocomplete="off" placeholder="add..."



template(name="office_result")
    .item #{office_name} (#{jan_office_id})

template(name="customer_result")
    .item #{first_name} #{last_name}


template(name='set_view_mode')
    #set_view_mode.ui.icon.large.button(title=label class=view_mode_button_class)
        i.large.icon(class=icon)
            
            
template(name='set_session_button')
    .set_session_filter.ui.button(class=filter_class)
        |#{label}
        
template(name='set_session_item')
    a.set_session_filter.item 
        |#{label}
        
        
        
template(name='edit_image_field')
    .ui.segment
        if image_id
            .ui.image
                img(src="{{c.url image_id }}")
                a#remove_photo.ui.top.left.attached.link.label remove
                // .ui.bottom.right.attached.label Image Id: #{image_id}
        else
            .ui.header Upload Image
            input(type='file' name='upload_picture' accept='image/*')
        // if isInRole 'admin'
        //     .field
        //         label or Choose Cloudinary Image Id
        //         input#input_image_id(type='text')
    


        
template(name='complete')            
    .field
        label completed
        #mark_complete.ui.button(class=complete_class) yes 
        #mark_incomplete.ui.button(class=incomplete_class) no 


template(name='toggle_key')
    #toggle_key.ui.button(class=toggle_key_button_class) #{label}

// template(name='vote_button')
//     i.thumbs.up.link.large.icon.vote_up(class=vote_up_button_class)
//     i.thumbs.down.large.link.icon.vote_down(class=vote_down_button_class)
//     |#{points}


template(name='view_full_button')
    a.ui.icon.button(href="/view/#{_id}")
        i.right.chevron.icon
                        
template(name='toggle_follow')
    if currentUser
        if is_following
            #remove_friend.ui.button
                i.minus.large.icon
                |unfollow
        else
            #add_friend.ui.button
                i.plus.large.icon
                |follow


// template(name='bookmark_button')
//     if bookmarked
//         .ui.icon.large.button
//             i.bookmark.icon
//     else
//         .ui.icon.primary.button
//             i.bookmark.icon
            
            
template(name='associated_incidents')
    .ui.segment
        .ui.header 
            i.clipboard.icon
            | Incidents
        .ui.list
            each incidents
                .item ##{incident_number} #{when}
        
            
            
template(name='associated_users')
    .ui.segment
        .ui.header 
            i.users.icon
            | Users
        .ui.list
            each users
                .item #{first_name} #{last_name}
            
            
template(name='call_phone_button')
    a.ui.fluid.button(href="tel:#{phone_number}") 
        i.phone.icon
        | Call #{phone_number}
            
            
            
template(name='link_button')    
    a.ui.big.icon.button(href=link title=label)
        i.large.icon(class=icon)

template(name='edit_author')
    .ui.header Edit Author
    with author
        img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
        |#{username}
    .ui.input
        +inputAutocomplete settings=author_edit_settings id="author_select" class="" autocomplete="off" placeholder='Lookup...'
                    


template(name='delete_button')
    #delete.ui.red.icon.button(title='delete')
        i.trash.icon
        +mini_sprite name='trash'
        
        
template(name='edit_link')
    .field
        label link (include http://)
        .ui.left.icon.input
            i.linkify.icon
            input#link(type='text' value=url)


template(name='publish_button')
    .field
        label Status
        if published
            #unpublish.ui.green.button
                |Published
        else
            #publish.ui.button
                |Private


template(name='call_method')
    .call_method.ui.button call #{name}
    
    
    
template(name='html_create')
    if doc
        with doc
            if is_editing
                .ui.labeled.fluid.input
                    .ui.label select staff
                    input#staff(type='text' value=staff)
            else
                div(class=doc_classes)
                    |#{staff}
            // if isInRole 'admin'
            +session_edit_icon
    else
        // if isInRole 'admin'
        .ui.header no coc found
        .create_doc.ui.button
            i.plus.icon
            |create html with #{template_tags}
    
    
    

template(name='office_map')
    .ui.segment
        .ui.header
            i.map.marker.icon
            | #{geocode.formatted_address}
        +google_places_input
        #map
        
template(name='google_places_input')
    .ui.large.fluid.icon.input
        i.search.icon
        input#google_places_field(type='text' placeholder='change address...')    
        
        
        
template(name='mini_inline_sprite')
    img.ui.mini.inline.spaced.image(src="https://png.icons8.com/color/100/000000/#{name}.png" class=classes title=tooltip)
template(name='mini_sprite')
    img.ui.mini.image(src="https://png.icons8.com/color/100/000000/#{name}.png" class=classes title=tooltip)
template(name='tiny_sprite')
    img.ui.tiny.image(src="https://png.icons8.com/color/100/000000/#{name}.png" class=classes title=tooltip)
template(name='avatar_sprite')
    img.ui.avatar.image(src="https://png.icons8.com/color/100/000000/#{name}.png" class=classes title=tooltip)
template(name='small_sprite')
    img.ui.small.image(src="https://png.icons8.com/color/100/000000/#{name}.png" class=classes title=tooltip)
template(name='medium_sprite')
    img.ui.medium.image(src="https://png.icons8.com/color/100/000000/#{name}.png" class=classes title=tooltip)
template(name='dots')
    img(src="https://png.icons8.com/hide/#{name}/100/000000" class=classes title=tooltip)
template(name='icon')
    img.ui.image(src="https://png.icons8.com/color/100/000000/#{name}.png" class=classes title=tooltip)


template(name='user_pill')
    .item
        .content
            .header
                img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                |#{name}
            // .description
            //     each five_tags
            //         .ui.basic.small.label #{this}


template(name='accordion')
    .ui.accordion
        .title
            |#{title}
            i.dropdown.icon
        .content
            +Template.dynamic template=template_name data=doc
            
            
template(name='pull_site')
    .ui.input
        input#site_input(type='text' placeholder='site...')