template(name='comments')
    h3
        i.large.chat.icon
        |#{comment_count} comments
    .ui.comments
        each comments
            .comment
                a.avatar(href="/profile/#{author.username}")
                    if author.profile.image_id
                        img.ui.avatar.spaced.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                .content
                    a.author(href="/profile/#{author.username}") #{author.username}
                    .metadata
                        span.date #{when}
                    .text
                        p #{text}
                    .actions
                        // a.reply Reply
                        a.delete_comment delete
    .ui.large.fluid.left.icon.input
        i.plus.icon
        input#new_comment(type='text')