template(name='event_edit')
    .ui.header edit event
    .ui.form
        +edit_date_field key='start_date' label='start date'
        +edit_date_field key='end_date' label='end date'
        +edit_text_field key='location' label='location'
    
template(name='event_view')
    .ui.header view event
    .ui.segment
        .ui.header start date #{start_date}
        .ui.header end date #{start_date}
        .ui.header location #{location}
    
    
    
template(name='question_edit')
    .ui.header edit question
    +edit_text_field key='question' label='question'
    
template(name='question_view')
    .ui.header view question
    h5.ui.header view question
    .ui.segment #{question}
    .ui.button answer
    each answers
        .ui.segment
            |#{answer}
    
template(name='ad_edit')
    .ui.header edit ad
    +edit_text_field key='title' label='title'
    +edit_array_field key='tags' label='tags'
    
template(name='ad_view')
    .ui.header view ad
    .ui.header #{title}
    +view_array_field key='tags' label='tags'
    
