template(name='boolean_facet')
    .ui.header filter #{key}
    .pick_yes.ui.button yes
    .pick_no.ui.button no


template(name='tag_facet')
    // .ui.left.icon.small.fluid.input
    //     i.search.icon
    //     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" placeholder='Tags...'
    // |&nbsp;    
    // .ui.header 
    //     |Tags
    if selected_tags
        #clear_tags.ui.big.icon.active.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.active.button
                strong #{this}
    each tags
        .ui.button.select_tag(class=tag_class) 
            strong #{this.name}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider
    // +highchartsHelper(chartId='cloud_chart' chartWidth='100%' charHeight='100%' chartObject=cloud_object)
    
    
template(name='ancestor_facet')
    // .ui.left.icon.small.inline.input
    //     i.search.icon
    //     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" placeholder='Search...'
    // |&nbsp;    
    // .ui.header ancestors
    // if selected_ancestor_ids
    //     #clear_ancestor_ids.ui.icon.button
    //         i.remove.icon
    //     each selected_ancestor_ids
    //         .unselect_ancestor_id.ui.large.button
    //             strong #{this}

    each ancestors
        // a.ui.button.select_ancestor_id(class=ancestor_id_class) 
        .ui.button.select_ancestor_id
            // strong #{this.name}
            strong #{title}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider

template(name='location_facet')
    // div
    // +mini_inline_sprite name='marker'
    .ui.left.icon.inline.input
        i.compass.icon
        +inputAutocomplete settings=settings id="search" class="" autocomplete="off" placeholder='Search...'
    |&nbsp;    
    if selected_location_tags
        #clear_location_tags.ui.icon.active.button
            i.remove.icon
        each selected_location_tags
            .unselect_location_tag.ui.active.button
                strong #{this}
    each location_tags
        .ui.compact.button.select_location_tag(class=location_tag_class) 
            strong #{this.name}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider

template(name='timestamp_facet')
    div
    // +mini_inline_sprite name='timer'
    if timestamp_tags
        .ui.left.icon.fluid.input
            i.clock.icon
            +inputAutocomplete settings=settings id="search" class="" autocomplete="off" placeholder='Time Tags'
    |&nbsp;    
    if selected_timestamp_tags
        #clear_timestamp_tags.ui.icon.active.button
            i.remove.icon
        each selected_timestamp_tags
            .unselect_timestamp_tag.ui.active.button
                strong #{this}
    each timestamp_tags
        .ui.compact.button.select_timestamp_tag(class=timestamp_tag_class) 
            strong #{this.name}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider

template(name='intention_facet')
    .ui.header
        | Intention Tags
    if selected_intention_tags
        #clear_intention_tags.ui.icon.button
            i.remove.icon
        each selected_intention_tags
            .unselect_intention_tag.ui.large.button
                strong #{this}
    // .ui.hidden.fitted.divider
    each intention_tags
        .ui.button.select_intention_tag(class=intention_tag_class) 
            strong #{this.name}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider
    
    
template(name='entities_facet')
    .ui.header
        | entitie Tags
    if selected_entitie_tags
        #clear_entitie_tags.ui.icon.button
            i.remove.icon
        each selected_entitie_tags
            .unselect_entitie_tag.ui.large.button
                strong #{this}
    // .ui.hidden.fitted.divider
    each entitie_tags
        .ui.button.select_entitie_tag(class=entitie_tag_class) 
            strong #{this.name}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider

template(name='keyword_facet')
    .ui.dividing.header keywords
    // i.large.tags.icon
    // +mini_inline_sprite name='tags'
    // |&nbsp;   
    // if keywords
    //     .ui.left.icon.small.fluid.input
    //         i.tags.icon
    //         +inputAutocomplete settings=settings id="search" class="" autocomplete="off" placeholder='Tags'
    if selected_keywords
        // .ui.header Selected keywords
        #clear_keywords.ui.active.icon.button
            i.remove.icon
        each selected_keywords
            .unselect_keyword.ui.active.button
                strong #{this}
    // .ui.hidden.fitted.divider
    each keywords
        // .ui.compact.button.select_keyword(class=cloud_keyword_class) 
        .ui.compact.button.select_keyword 
            strong #{this.name}
            // if isInRole 'admin'
            //     small #{this.count}

template(name='concept_facet')
    .ui.dividing.header concepts
    // i.large.tags.icon
    // +mini_inline_sprite name='tags'
    // |&nbsp;   
    // if concepts
    //     .ui.left.icon.small.fluid.input
    //         i.tags.icon
    //         +inputAutocomplete settings=settings id="search" class="" autocomplete="off" placeholder='Tags'
    if selected_concepts
        // .ui.header Selected concepts
        #clear_concepts.ui.active.icon.button
            i.remove.icon
        each selected_concepts
            .unselect_concept.ui.active.button
                strong #{this}
    // .ui.hidden.fitted.divider
    each concepts
        // .ui.compact.button.select_concept(class=cloud_concept_class) 
        .ui.compact.button.select_concept 
            strong #{this.name}
            // if isInRole 'admin'
            //     small #{this.count}



template(name='username_facet')
    .ui.header
        i.users.icon
        | Authors
    if selected_author_ids
        #clear_authors.ui.icon.button
            i.remove.icon
        each selected_author_ids
            .unselect_author.ui.large.button
                strong #{this}
    each author_tags
        .ui.button.select_author(class=cloud_tag_class) 
            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
            strong #{username}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider

template(name='parent_facet')
    .ui.header
        // img(src="https://png.icons8.com/color/100/000000/couple-man-woman.png")
        | parent docs
    if selected_parent_ids
        #clear_parents.ui.icon.button
            i.remove.icon
        each selected_parent_ids
            .unselect_parent.ui.large.button
                strong #{this}
    each available_parent_docs
        .ui.button.select_author(class=cloud_tag_class) 
            | #{title}
            // if isInRole 'admin'
            //     small #{this.count}
    // .ui.divider

template(name='participant_facet')
    .ui.header
        |browse participants
    if selected_participant_ids
        #clear_participants.ui.icon.button
            i.remove.icon
        each selected_participant_ids
            .unselect_participant.ui.large.button
                strong #{this}
    each participant_tags
        .ui.button.select_participant(class=cloud_tag_class) 
            | #{this.username}
            small #{this.count}


template(name='tag_result')
    .three.wide.column #{title} #{office_name} #{name}