template(name='edit_text_field')
    .ui.basic.segment
        .ui.labeled.fluid.input
            .ui.label 
                if icon
                    i.icon(class=icon)
                |#{label}
            input#text_field(type='text' value=page_key_value)

        
template(name='view_text_field')
    h4.ui.header #{title}: #{key_value}

        
template(name='edit_html_field')
    .field
        .froala-container
            +froalaReactive getFEContext
        
template(name='edit_html')
    .field
        .froala-container
            +froalaReactive getFEContext
        
        
template(name='edit_date_field')            
    .field
        label #{label}
        .ui.left.icon.input
            if icon
                i.icon(class=icon)
            input#date_field(type='date' value=key_value)        
template(name='edit_number_field')
    .field
        label #{label}
        .ui.left.icon.input
            if icon
                i.icon(class=icon)
            input#number_field(type='number' min='0' value=key_value)


template(name='edit_textarea')
    .field
        label #{label}
        textarea#textarea(rows='10') #{key_value}


        
template(name='view_array_field')
    if field_value
        .ui.segment
            each field_value
                .ui.large.label #{this}
    
    
template(name='edit_array_field')
    // .ui.header 
    //     // i.tags.icon
    //     |#{key}
    .ui.input
        input.new_entry(type='text' maxlength='50' placeholder='add tag')
        // .ui.icon.button
        //     i.right.arrow.icon
    // .ui.mini.input
    //     +inputAutocomplete settings=theme_select_settings id="theme_tag_select" class="" autocomplete="off"
    // each field_value
    each ../tags
        // a.ui.circular.button.doc_tag #{this}
        a.ui.button.doc_tag
            i.remove.icon
            |#{this}
