template(name='posts')    
    .ui.stackable.grid
        .four.wide.column
            +add_button type='post'
            +tag_facet
            // +timestamp_facet
            // +location_facet
        .twelve.wide.column
            // if one_doc
            .ui.cards
                each posts
                    +post_card
    
template(name='post_card')
    .ui.fluid.card
        a.image(href="/view/#{_id}")
            img.ui.rounded.image(src="{{c.url image_id  width=300 height=300 crop='fill' }}")
        .content
            |type #{type}
            .right.floated.meta
                // .ui.circular.label(title='Incident Number') #{incident_number}
                |#{when}
            // +author_info
        .content
            |!{html}
        .content
            // +call_method name='tagify_timestamp'
            // if date_array
            //     each date_array
            //         .ui.basic.label #{this}
            .right.floated
                +view_full_button
            // i.comment.icon
            // | #{comment_count} comments




template(name='view_toggle')
    .toggle_view.ui.large.icon.button(title=label)
        i.icon(class=icon)
        
template(name='view_toggle_item')
    a.toggle_view.ui.icon.item(title=label)
        i.icon(class=icon)
        
        
template(name='table_view')
    each table_docs
        each tags
            .ui.label #{this}
        .ui.basic.segment !{html}
        .ui.divider
        
        
        
template(name='post_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +link_button link='/' label='home' icon='home'
            .ten.wide.center.aligned.column
                h1.ui.header view post
            .three.wide.center.aligned.column
                +edit_button
        .row
            .ui.top.attached.tabular.large.five.item.icon.menu
                a.active.icon.item(data-tab='info') 
                    i.large.info.icon
                    // |Info
                a.icon.item(data-tab='talk') 
                    i.large.chat.icon
                    // |Talk
                a.icon.item(data-tab='actions') 
                    i.large.star.icon
                    // |actions
                a.icon.item(data-tab='analysis') 
                    i.large.heartbeat.icon
                    // |Analysis
                a.icon.item(data-tab='activity') 
                    i.large.rss.icon
                    // | Activity
            .ui.bottom.attached.active.tab.segment(data-tab='info')
                .ui.padded.stackable.centered.grid
                    .four.wide.column
                        .ui.header
                            +author_info
                        h2.ui.sub.header #{when}
                        +bookmark_button
                        +vote_button
                        // .ui.large.relaxed.list
                            // +list_item key='customer_id' label='Customer ID' icon='user'
                            // +list_item icon='hashtag' label='Number' key='incident_number'
                            // +list_item icon='calendar' label='Date' key='incident_date'
                            // +list_item icon='file.image' label='Associated Documents'
                        // +incident_type_label
                        // .ui.header #{formal_when}
                    .eight.wide.column
                        .ui.basic.segment
                            .large130 !{html}
                        if image_id
                            img.ui.centered.image(src="{{c.url image_id height=500 crop='fit'}}")
                            if visual
                                each visual
                                    .ui.basic.label(title=type_hierarchy)
                                        | #{class} {{to_percent score }}%
                            else
                                +call_visual_analysis
                    .four.wide.column
            .ui.bottom.attached.tab.segment(data-tab='actions')
                .ui.padded.stackable.centered.grid
                    .twelve.wide.column
                        .ui.header tag this
                        
            .ui.bottom.attached.tab.segment(data-tab='talk')
                .ui.padded.stackable.centered.grid
                    .four.wide.column
                        +notify_button
                    .twelve.wide.column
                        +comments
            .ui.bottom.attached.tab.segment(data-tab='activity')
                .ui.padded.stackable.centered.grid
                    .eight.wide.column
                        h4 doc_feed
                        // +doc_feed
            .ui.bottom.attached.tab.segment(data-tab='analysis')
                +watson_view        
        
template(name='post_edit')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.center.aligned.header edit post
                a.ui.icon.large.fluid.button(href="/view/#{_id}")
                    i.checkmark.icon
                #delete.ui.icon.button
                    i.remove.icon
            .twelve.wide.column
                // +edit_text_field key='type'
                +edit_array_field key='tags'
                +edit_html