template(name='doc_sentiment') 
    // .ui.dividing.header 
    //     |sentiment
    // .ui.small.progress(data-percent=sentiment_score_percent class=sentiment_bar_class)
    //     .bar
    //     .progress
    .label
        |{{ to_percent doc_sentiment_score }}%
        if is_positive
            | positive
        else
            | negative

        // |#{doc_sentiment_label}
        // |#{sentiment_score_percent}


template(name='small_sentiment') 
    .ui.small.disabled.progress(data-percent=sentiment_score_percent class=sentiment_bar_class)
        .bar
        .progress

template(name='doc_emotion') 
    // .ui.dividing.header 
    //     | emotion
    with watson.emotion.document.emotion
        // .ui.blue.disabled.small.progress(data-percent=sadness_percent)
        //     .bar
        //     .progress
        .label {{to_percent sadness}}% sadness 
        // .ui.green.disabled.small.progress(data-percent=joy_percent)
        //     .bar
        //     .progress
        .label {{to_percent joy}}% joy 
        // .ui.black.disabled.small.progress(data-percent=fear_percent)
        //     .bar
        //     .progress
        .label {{to_percent fear}}% fear 
        // .ui.yellow.disabled.small.progress(data-percent=disgust_percent)
        //     .bar
        //     .progress
        .label {{to_percent disgust}}% disgust 
        // .ui.red.disabled.small.progress(data-percent="{{to_percent anger}}")
        //     .bar
        //     .progress
        .label {{to_percent anger}}% anger 
            
template(name='call_watson')
    #call_watson.ui.icon.button 
        i.chess.knight.icon
        

template(name='call_visual_analysis')
    #call_visual.ui.button 
        i.image.icon
        |tag

template(name='keywords')
    .ui.header 
        |#{watson.keywords.length} keywords
    .ui.three.stackable.cards
        each watson.keywords
            .ui.card
                .content
                    h4
                        |#{text}
                    .meta
                        |{{ to_percent relevance }}% relevant
                    .meta
                        |sentiment: {{ to_percent sentiment.score }}%
                    .description
                        with emotion
                            .ui.list
                                // .ui.blue.small.disabled.progress(data-percent=sadness_percent title="{{to_percent sadness}}% sadness")
                                //     .bar
                                //     .progress
                                .label {{ to_percent sadness }}% sadness
                                // .ui.green.small.disabled.progress(data-percent=joy_percent title="{{to_percent joy}}% joy")
                                //     .bar
                                //     .progress
                                .label {{ to_percent joy }}% joy 
                                // .ui.black.small.disabled.progress(data-percent=fear_percent title="{{to_percent fear}}% fear")
                                //     .bar
                                //     .progress
                                .label {{ to_percent fear }}% fear
                                // .ui.yellow.small.disabled.progress(data-percent=disgust_percent title="{{to_percent joy}}% joy")
                                //     .bar
                                //     .progress
                                .label {{ to_percent disgust }}% disgust 
                                // .ui.red.small.disabled.progress(data-percent=anger_percent title="{{to_percent joy}}% joy")
                                //     .bar
                                //     .progress
                                .label {{ to_percent anger }}% anger 


template(name='entities')
    .ui.header 
        |#{watson.entities.length} entities
    .ui.list
        each watson.entities
            .item
                |#{type}: #{text}

template(name='keyword_list')
    .ui.header 
        |#{watson_keywords.length} keywords
    each watson_keywords
        .ui.label #{this}

template(name='concept_list')
    .ui.header 
        |#{watson_concepts.length} concepts
    each watson_concepts
        .ui.label #{this}



template(name='concepts')
    .ui.header 
        |#{watson.concepts.length} concepts
    .ui.list
    each watson.concepts
        .item
            a(href=dbpedia_resource target='_blank') #{text}
            | {{to_percent relevance}}%




template(name='categories')
    .ui.header 
        |#{watson.categories.length} categories
    .ui.list
        each watson.categories
            .item
                strong #{label}
                |{{ to_percent score }}%


template(name='semantic_roles')
    .ui.styled.accordion
        .title
            |#{watson.semantic_roles.length} semantic roles
            i.dropdown.icon
        .content
            +jsonView(json=watson.semantic_roles)
            // .ui.list
            //     each watson.semantic_roles
            //         .item
            //             strong #{label}
            //             |{{ to_percent score }}%


template(name='relations')
    .ui.styled.accordion
        .title
            |#{watson.relations.length} relations
        .content    
            +jsonView(json=watson.relations)
            .ui.list
                each watson.relations
                    .item
                        strong #{label}
                        |{{ to_percent score }}%



template(name='personality')
    if personality
        h3
            | #{customer.first_name} personality 
        each personality.personality
            h4.ui.header
                |#{name} {{ to_percent percentile }}%
            .ui.list
                each children
                    .item #{name} {{ to_percent percentile }}%
        .ui.header needs
        .ui.list
            each personality.needs
                .item #{name} {{ to_percent percentile }}%
        .ui.header values
        .ui.list
            each personality.values
                .item #{name} {{ to_percent percentile }}%
        if personality.behavior
            .title 
                | behavior
                i.dropdown.icon
            .content
                .ui.list
                    each personality.behavior
                        .item #{name} {{ to_percent percentage }}%
    else
        // p Not enough words to analyze author personality
    #call_personality.ui.icon.button(title='analyze personality')
        i.refresh.icon


template(name='consumption_preferences')
    if personality
        h3.ui.header
            |#{customer.first_name} preferences
        each personality.consumption_preferences
            h3.ui.header #{name}
            .ui.list
                each consumption_preferences
                    if score
                        .item #{name}
                    else
                        .disabled.item #{name}
            // +jsonView(json=personality.consumption_preferences)



template(name='tone')
    h3 tone
    .ui.bulleted.list
        each tone.document_tone.tones
            .item #{tone_id} {{ to_percent score }}%
    .ui.list
        each tone.sentences_tone
            .item
                strong #{sentence_id}: 
                | #{text}
                each tones
                    .ui.basic.label #{tone_id} {{ to_percent score }}%
    // unless tone                
    #call_tone.ui.icon.button
        i.refresh.icon
            // +jsonView(json=tone)



template(name='watson_view')
    .ui.padded.stackable.centered.grid
        .four.wide.column
            +call_watson
            if watson
                +doc_sentiment
                +doc_emotion
                +concepts
                +categories
                +entities
        .eight.wide.column
            +semantic_roles
            .ui.large.accordion
                .active.title 
                    |tone
                    i.dropdown.icon
                .active.content
                    +tone
            +keyword_list
            +concept_list
            // .ui.large.accordion
            //     .active.title
            //         |keywords
            //         i.dropdown.icon
            //     .active.content
            //         +keywords
            // .ui.hidden.divider
            // +relations
            // .ui.styled.accordion
            //     .title 
            //         i.code.icon
            //         |full analysis data
            //         i.dropdown.icon
            //     .content
            //         +jsonView(json=watson)
        .four.wide.column
            +personality
            +consumption_preferences
