template(name='web')
    .ui.padded.stackable.grid
        .eight.wide.column
            .ui.header web
            +add_button type='website'
            +keyword_facet
            +concept_facet
        .eight.wide.column
            .ui.cards
                each websites
                    +web_big_card

template(name='web_big_card')
    .ui.fluid.grey.card
        .content
            a.header(href="/view/#{_id}") 
                if title
                    |#{title}
                else |view
            .meta
                |url: #{url}
            // |web_id: #{web_id}
            +view_full_button
        .content
            +tone
        .content
            each watson.keywords
                .ui.label #{text}
        .content
            i.comments.icon
            | #{comment_count}


template(name='web_small_card')
    .ui.card
        .content
            a.header(href="/view/#{_id}") 
                if title
                    |#{title}
                else
                    |view
            .meta
                |domain: #{domain}
        .content
            if watson
                i.info.icon
            else
                i.remove.icon
            i.comments.icon
            | #{comment_count}

template(name='website_view')
    .ui.padded.stackable.grid
        .centered.row
            .two.wide.center.aligned.column
                +link_button link='/web' icon='globe'
            .twelve.wide.center.aligned.column
                h2.ui.header 
                    if title
                        | #{title}
                    else 
                        |view website
            .two.wide.center.aligned.column
                +edit_button
        .row
            .ui.top.attached.tabular.large.three.item.icon.menu
                a.active.icon.item(data-tab='info') 
                    i.large.info.icon
                    // |Info
                a.icon.item(data-tab='talk') 
                    i.large.chat.icon
                    // |Talk
                // a.icon.item(data-tab='actions') 
                //     i.large.star.icon
                //     // |actions
                a.icon.item(data-tab='analysis') 
                    i.large.heartbeat.icon
                    // |Analysis
                // a.icon.item(data-tab='activity') 
                //     i.large.rss.icon
                //     // | Activity
            .ui.bottom.attached.active.tab.segment(data-tab='info')
                .ui.padded.stackable.grid
                    .row
                        .twelve.wide.column
                            +author_info
                            .ui.list
                                .item _id: #{fnZBBkTcYgF4RepKx}
                                .item web_id: #{web_id}
                                a.item(href=url target='_blank') #{url}
                                .item domain: #{domain}
                                .item comment_count: #{comment_count}
                                // .item title: #{title}
                                .item timestamp_tags: 
                                    each timestamp_tags
                                        .ui.label #{this}
                                // .item points: #{points}
                            h2.ui.sub.header #{when}
                            // +bookmark_button
                            // +vote_button
                    .row
                        .ui.basic.segment
                            #get_web_post.ui.button get web post 
                            // .large130 !{html}
                            // +jsonView json=web_data
                            |!{html}
                        if image_id
                            img.ui.centered.image(src="{{c.url image_id height=500 crop='fit'}}")
                            if visual
                                each visual
                                    .ui.basic.label(title=type_hierarchy)
                                        | #{class} {{to_percent score }}%
                            else
                                +call_visual_analysis
            // .ui.bottom.attached.tab.segment(data-tab='actions')
            //     .ui.padded.stackable.centered.grid
            //         .twelve.wide.column
            //             .ui.header tag this
                        
            .ui.bottom.attached.tab.segment(data-tab='talk')
                .ui.padded.stackable.centered.grid
                    .four.wide.column
                        #get_comments.ui.button get comments
                        +notify_button
                    .twelve.wide.column
                        +comments
            // .ui.bottom.attached.tab.segment(data-tab='activity')
            //     .ui.padded.stackable.centered.grid
            //         .eight.wide.column
            //             h4 doc_feed
            //             // +doc_feed
            .ui.bottom.attached.tab.segment(data-tab='analysis')
                +watson_view
        
template(name='website_edit')
    .ui.center.aligned.header edit website
    .ui.stackable.padded.grid
        .row
            .ten.wide.column
                +edit_text_field key='title' label='title'
                +pull_site
                +edit_array_field key='tags'
                +edit_html
            .six.wide.column
                a.ui.icon.large.fluid.button(href="/view/#{_id}")
                    i.checkmark.icon
                // +published        
                #delete.ui.icon.button
                    i.remove.icon