template(name='edit_profile')
    .ui.basic.segment.container
        with user
            h1.ui.center.aligned.header edit #{username}
            .ui.form
                .ui.stackable.grid
                    .five.wide.column    
                        .field
                            if profile.image_id
                                label image
                                .ui.centered.image
                                    img.ui.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                    a#remove_photo.ui.right.corner.link.label
                                        i.remove.red.link.icon
                            else
                                // label mage
                                input(type='file' name='upload_picture' accept='image/*')
                        .ui.hidden.divider
                            a.ui.fluid.button(href="/user/#{username}") save
                    .ten.wide.centered.column
                        .field
                            label display name 
                            .ui.input
                                input#display_name(type='text' value=profile.display_name)
                        .field
                            label email
                            each emails
                                .ui.basic.label #{address}
                                if verified
                                    .ui.basic.green.label verified
                                else
                                    .ui.basic.label unverified
                        .field
                            label location 
                            .ui.input
                                input#location(type='text' value=profile.location)
                        .field
                            label tags
                            each tags
                                .ui.button.person_tag
                                    i.minus.icon
                                    |#{this}
                            .ui.left.icon.input
                                i.add.icon
                                input#add_tag(type='text' maxlength='50')
                        .field
                            label text
                            .ui.input
                                textarea#about_me(type='textarea' maxlength="250" rows='3')
                                    |#{profile.about_me}
