template(name='user_layout')
    +nav
    .ui.stackable.padded.grid
        .four.wide.column
            with person
                img.ui.small.centered.rounded.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                .ui.center.aligned.header
                    |#{name}
                    // unless is_user
                    // +staus_indicator
                .ui.items
                    a.item(href="/user/#{username}/dashboard/" class="{{isActiveRoute 'user_dashboard'}}")
                        i.dashboard.icon
                        |dashboard
                    a.item(href="/user/#{username}" class="{{isActiveRoute 'user_info'}}")
                        i.info.icon
                        |info
                    a.item(href="/user/#{username}/docs"  class="{{isActiveRoute 'user_docs'}}")
                        i.book.icon
                        |docs
                    a.item(href="/user/#{username}/contact" class="{{isActiveRoute 'user_contact'}}")
                        i.phone.icon
                        |contact
                    a.item(href="/user/#{username}/achievements" class="{{isActiveRoute 'user_achievements'}}")
                        i.trophy.icon
                        |achievements
                    a.item(href="/user/#{username}/comparison"  class="{{isActiveRoute 'user_comparison'}}")
                        i.fork.icon
                        |compare
                    a.item(href="/user/#{username}/conversations" class="{{isActiveRoute 'user_conversations'}}")
                        i.comments.icon
                        |conversations
                    a.item(href="/user/#{username}/karma" class="{{isActiveRoute 'user_karma'}}")
                        i.heart.icon
                        |karma
                    a.item(href="/user/#{username}/social" class="{{isActiveRoute 'user_social'}}")
                        i.users.icon
                        |social
                    a.item(href="/user/#{username}/transactions" class="{{isActiveRoute 'user_transactions'}}")
                        i.money.icon
                        |transactions
                if is_user
                    .ui.vertical.menu
                        a.item(href="/profile/edit/#{_id}" class="{{isActiveRoute 'edit_profile'}}") 
                            i.edit.icon
                            |edit profile
                        a.item(href="/user/#{username}/settings/" class="{{isActiveRoute 'account_settings'}}")
                            i.settings.icon
                            |settings
                        a#logout.item(href='#')
                            |log out
        .twelve.wide.column
            +Template.dynamic template=user_main
        


template(name='user_info')
    // h1.ui.center.aligned.header about #{person.name}
    with person
        if tags
            each tags
                .user_tag.ui.label #{this}
        if profile.location
            .ui.header 
                i.compass.icon
                | #{profile.location}
        if profile.about_me
            h4 about: #{profile.about_me}
        // if profile.sex_position
        //     h4.ui.header favorite sex position: #{profile.sex_position}
        // if profile.spirit_animal
        //     h5.ui.header spirit animal: #{profile.spirit_animal}
        // +wall
        // .ui.header My True Colors Are:
        // +color_dots
        // if profile.if_knew_me
        //     .ui.header If you really knew me you would know…
        //     |#{profile.if_knew_me}
        // if profile.if_not_working
        //     .ui.header If I am not at work or in class then I am probably…
        //     |#{profile.if_not_working}
        //     +profile_stripe
        // else
        //     .centered.row
        //         .twelve.wide.column.shadowed-box
        //             +profile_comparison
        
        
// template(name='user_documents')
//     h1.ui.center.aligned.header #{person.name} docs
//     +tags
//     // +ancestor_facet

    
//     each user_docs
//         +databank_card



template(name='user_karma')
    h1.ui.center.aligned.header #{person.name} karma
    .ui.stackable.grid
        .four.wide.column
            .ui.segment tag cloud
        .twelve.wide.column
            .ui.segment top posts

template(name='user_achievements')
    h1.ui.center.aligned.header 
        i.trophy.icon
        |#{person.name} achievements
    if achievements
        each achievements
            .ui.header hi
    else
        .ui.header no achievements


template(name='user_contact')
    h1.ui.center.aligned.header contact #{person.name}
    .ui.form
        .field
            label message
            textarea#message_area(rows='5')
        #clear_message.ui.icon.button
            i.remove.icon
        #send_message.ui.large.icon.button
            i.send.large.icon

template(name='user_transactions')
    h1.ui.center.aligned.header #{person.name} transactions
    .ui.grid
        .four.wide.column
            .ui.segment tag facet
            .ui.segment username facet
        .four.wide.column
            .ui.segment top earning posts
        


template(name='user_social')
    .ui.header user social
    .ui.button add friend
    +toggle_friend
    .ui.segment 
        |friends list


template(name='view_account')
    h1.ui.center.aligned.header 
        | Account
    |{{> atForm state='changePwd'}}
    h2.ui.header 
        |Email(s)
    .ui.segment
        .ui.divided.list
            each currentUser.emails
                .item 
                    // unless verified
                    //     .right.floated.content
                    //         .ui.basic.button Verify
                    .content
                        |#{address}
                        if verified
                            .ui.green.basic.label Verified
                        else
                            .ui.basic.label Unverified
                            .send_verification_email.ui.basic.button Verify
        .ui.action.fluid.input
            input#new_email(type='email')
            #add_email.ui.submit.button Add Email
    h2.ui.header 
        | Change Username 
    .ui.segment
        .ui.header current: #{currentUser.username}
        .ui.action.fluid.input
            input#username(type='text')
            #change_username.ui.submit.button Submit
            
            
template(name='user_conversations')
    .ui.horizontal.divider.header 
        i.comments.icon
        |public conversations with #{user.name}
    each public_conversations_with_user
        +conversation_messages_pane
    a.ui.button(href='/conversations')
        i.external.icon
        |view all Conversations
            
            
            
template(name='wall')
    .ui.segment
        .ui.form
            .field
                |add
                textarea(rows='3')
    each recent_posts
        .ui.segment
            |#{content}
            
            
            
template(name='profile_docs')
    with user
        if user_docs.count
            +tags type='journal' author_id=user._id
            .ui.dividing.header
                | #{username} docs
            // .ui.cards
            each user_docs
                +doc_card
        else
            h4.ui.header #{name} doesn't have any public entries.